@import url('https://fonts.googleapis.com/css?family=Tektur&display=swap');


body {
    font-family: Tektur, serif;
    background: linear-gradient(90deg, #fe7e16 0%, #d6b599 100%);
}

.nav-link{
    color: orange;
}

.navbar-nav .nav-link.active{
    color: rgb(143, 143, 143);
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler{
    background-color:  rgb(143, 143, 143);
}

.sidebar{
    color: orange;

}
.text-nav{
    text-decoration: none;
    color: orange;
}
.list-group a{
    color: orange;
}

.card{
    color: orange;
}


.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.slide-text,
.footer-text{
    color: rgb(0, 0, 0);
    margin: auto auto;
}

footer{
    background: linear-gradient(270deg, #fe7e16 0%, #d6b599 100%);
}
.btn-outline-primary{
    background: blue;
}

.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}

.text-center a{
    text-decoration: none;
    color: black;
}
@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px){
    .carousel-indicators{
        display: none;
    }
}